{% extends 'base.html' %}
{% block title %}Ventas{% endblock title %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block content %}
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <h5 class="text-danger text-center"><b> Total del día: {{total}}Bs.</b></h5>
                                    <table id="table" class=" text-center table table-bordered table-striped table-dark">
                                        <thead>
                                            <tr>
                                                <th>Ordenes de Venta</th>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for o in orden_ventas %}
                                            <tr>
                                                <td>{{o.venta.fecha_c}}</td>
                                                <td>{{o.producto}}</td>
                                                <td>{{o.cantidad}}</td>
                                                <td>{{o.producto.precio}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <aside class="control-sidebar control-sidebar-dark">
        </aside>

        {% endblock content %}

    </div>
</body>

</html>