{% extends 'base.html' %}
{% block title %}Unidades de medida{% endblock title %}

{% block content %}
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card col-lg-6 o-hidden border-0 shadow-lg my-0">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <a href="{% url 'catalogo:marca_nueva' %}">Añadir Categoría</a>
                                        <hr class="sidebar-divider d-none d-md-block">
                                        {{msg}}
                                        <h1 class="h2 text-gray-900 mb-4">Unidad de medida</h1>
                                    </div>
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        {{form.as_p}} 
                                        <br>                            
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Guardar
                                        </button>
                                        <a href="{% url 'catalogo:umedida_lista' %}" class="btn btn-secondary btn-user btn-block">
                                            Cancelar
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
{% endblock content %}